JWT_ACCESS_TOKEN_SECRET=<your_secret>
JWT_REFRESH_TOKEN_SECRET=<your_secret>
SESSION_SECRET=<your_secret>


CLIENT_ID=<client_id>
CLIENT_SECRET=<your_secret>
CALLBACK_URL=http://localhost:3001/auth/google/redirect

MULTER_DEST=./uploadedFiles/avatars

EMAIL_SERVICE=gmail
EMAIL_USER=<email_address>
EMAIL_PASSWORD=<email_password>

JWT_VERIFICATION_TOKEN_SECRET=<your_secret>
JWT_VERIFICATION_TOKEN_EXPIRATION_TIME=21600
EMAIL_CONFIRMATION_URL=http://localhost:3001/auth/confirm

GOOGLE_BUCKET=<your_bucket>
GOOGLE_PROJECT_ID=<project_id>
GOOGLE_KEY=<pass_to_key>